<nav class="top">
  <a href="{{ site.url }}">{{ site.description }} &mdash; {{ site.name }}</a>
  <span class="pull-right">
    <a id="twitter-ic" class="link" href="https://twitter.com/{{site.owner.twitter}}">
      <i class="fa fa-twitter fa-lg"></i>
    </a>
    <a id="git-ic" class="link" href="https://github.com/{{site.owner.github}}">
      <i class="fa fa-github-square fa-lg"></i>
    </a>
    <a id="rss-ic" class="link" href="{{ "/feed.xml" | prepend: site.url }}">
      <i class="fa fa-rss fa-lg"></i>
    </a>
  </span>
</nav>
