<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <main>
    <span class="statusbar"></span>

    <div id="wrap"> <!-- Wrap all page content here -->
      <div id="body" class="container">
        <div class="row row-offcanvas row-offcanvas-left">
          {% include sidenav.html %}
          <!-- Content -->
          <div class="col-sm-10">
            {% include topnav.html %}
            <div class="row">
              <div class="col-sm-12">
                <div class="page">
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </main>

</body>
</html>
